@import 'styles/settings';

.btn {
  width: calc(100% - $app-gap);
  // height: $button-height;
  min-width: 28px;
  max-width: 470px;
  font-size: 17px;
  display: block;
  padding: 16px 24px;
  border-radius: $app-radius;
  margin: 0 auto;
  white-space: nowrap;
  line-height: 1.17648;
  color: $black-500;
}

.btn:hover:not(.btnPrimary, .btnOutline) {
  text-decoration: underline;
}

.btn:disabled {
  cursor: not-allowed;
}

.btnPrimary {
  background: $yellow-500;
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
  font-size: 17px;
  &:hover {
    background: $yellow-600;
  }
  &:disabled {
    background: $gray-400;
  }
}

.btnFixed {
  position: fixed;
  bottom: 24px;
  width: calc(100% - ($app-gap * 2));
}

.btnOutline {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  background: #fff;
  text-align: center;
  cursor: pointer;
  user-select: none;
  &:hover {
    background: #f9f9f9;
  }

  &[data-active='true'] {
    background: #fac172;
    color: #fff;
  }
}

.btnFullWidth {
  width: 100%;
  max-width: 100%;
}
