@import 'styles/settings';

.dateSelect {
  margin-top: 16px;
  margin-bottom: 24px;
  border-radius: $app-radius;
  border: $input-border;
  position: relative;

  &[data-open='true'] > .item {
    border: $input-border-primary;
    box-shadow: $input-border-shadow;
    border-radius: inherit;
    &:hover {
      background-color: #fff;
    }
  }
}

.options {
  position: absolute;
  top: calc(100% + 12px);
  width: 100%;
  border-radius: $app-radius;
  left: 0;
  background-color: #fff;
  border: 1px solid $gray-300;
  overflow: hidden;
  border-radius: $app-radius;
}

.options .item {
  color: $black-500;
}
.item {
  cursor: pointer;
  padding: 12px;
  transition: $simple-transition;
  &:hover {
    background-color: $gray-300;
  }

  &[data-selected='true'] {
    background-color: $yellow-500;
    color: #fff;
  }
}
