@font-face {
  font-family: 'SF200';
  src: url('../assets/fonts/SF-Pro-Display-Thin.otf');
}

@font-face {
  font-family: 'SF300';
  src: url('../assets/fonts/SF-Pro-Display-Light.otf');
}

@font-face {
  font-family: 'SF400';
  src: url('../assets/fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-family: 'SF500';
  src: url('../assets/fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
  font-family: 'SF600';
  src: url('../assets/fonts/SF-Pro-Display-Bold.otf');
}
