@import 'fonts';
@import 'styles/settings';
@import 'normalize';

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: $font-family-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black-500;
  font-size: $default-font-size;
  line-height: 1.7;

  background: $bg-app;
  scrollbar-gutter: stable both-edges;
  margin: 0 auto;
  max-width: $app-max-width;
  position: relative;

  overflow-y: overlay;
  overscroll-behavior: none;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased; //khử răng cưa của chữ
}

html ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: $scrollbar-width;
}
html ::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  border-radius: $scrollbar-radius;
}

html ::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.default-layout-wrapper {
  margin-bottom: calc($nav-height - $app-gap / 0.5);
}

.app-master {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  & > .app-wrapper {
    flex: 1;
  }
}

.app-wrapper {
  padding: 0 $app-gap;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  padding-top: 32px;
  padding-bottom: 16px;
}

h1 {
  font-weight: $font-bold;
  font-size: $h1-font-size;
}

h2 {
  font-weight: $font-bold;
  font-size: $h2-font-size;
}

h3 {
  font-weight: $font-bold;
  font-size: $h3-font-size;
}

p {
  line-height: 1.9;
}

a {
  color: $yellow-500;
  text-decoration: underline;
  &:hover {
    color: $yellow-600;
  }
}

.grid {
  display: grid;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.btn,
button {
  -webkit-appearance: none;
  border: none;
  letter-spacing: inherit;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: $button-font-size;
  cursor: pointer;
}

.btn {
  width: calc(100% - $app-gap);
  display: block;
  padding: 12px 24px;
  border-radius: $app-radius;
  margin: 0 auto;
  min-width: 28px;
  white-space: nowrap;
  line-height: 1.17648;
  max-width: 470px;
}

.btn:hover:not(.btn-primary) {
  text-decoration: underline;
}

.btn-primary {
  background: $yellow-500;
  color: #fff;
  transition: $simple-transition;
}

.btn-primary:hover {
  background: $yellow-600;
}

.btn-fixed {
  position: fixed;
  bottom: 24px;
  width: calc(100% - ($app-gap * 2));
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  width: 100%;
  max-width: $app-max-width;
}

.divider {
  border: 1px dashed $gray-300;
  margin: 20px 15px;
}

.bold {
  font-weight: bold;
}

.truncate-250 {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type='text'] {
  display: inline-block;
  border: 1px solid $gray-300;
  border-radius: 6px;
  font-size: 17px;
  padding: 13px 15px;
  outline: none;
  font-weight: normal;
  background: #fff;
  color: $black-500;
}

input[type='text']:focus {
  border: 1px solid $yellow-500;
  box-shadow: 0 0 0 1px $yellow-500;
}

/* Modal */

.modal {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.time-option {
  padding: 12px 24px;
  border: 1px solid $gray-300;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import 'responsive';
