@import 'settings';

.ModalHeader {
 width: 100%;
 box-shadow: 0px 2px 10px rgba(215, 215, 215, 0.25);
}

.ModalHeaderContainer {
  margin: 0 auto;
  height: calc($modal-header-height - $app-gap * 2);
  max-width: $app-max-width;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  padding: $app-gap;
  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
}