@import 'settings';

.navContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: $nav-height;
}

.navWrapper {
  // grid-template-columns: repeat(5, 80px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 5px;
  max-width: $app-max-width;
  margin: 0 auto;

}

.navPrimaryItem {
  flex-basis: calc(100% / 5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navBtnAdd {
  width: 40px;
  height: 40px;
  background: #323232;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1);

  &:hover {
    transition: $simple-transition;
    transform: scale(1.1);
    background: lighten($black-500, 10);
  }
}