$app-max-width: 500px;
$app-gap: 15px;
$app-radius: 8px;
$nav-height: 65px;

$modal-header-height: 60px;
$header-height: 60px;

$yellow-500: #FAC172;
$yellow-600: #D79A53;
$black-500: #323232;
$gray-200: #F9F9F9;
$gray-300: #DBDBDB;
$gray-400: #C4C4C4;

$font-family-default: 'SF300', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-thin: 'SF200', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-light: 'SF300', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-regular: 'SF400', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-medium: 'SF500', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-bold: 'SF600', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$default-font-size: 17px;
$h1-font-size: clamp(24px, 36px, 36px);
$h2-font-size: 24px;
$h3-font-size: 20px;
$label-font-size: 17px;
$button-font-size: 18px;


$font-bold: 400;
$font-semiBold: 400;
$font-regular: 400;

$simple-transition: all 0.2s ease-in-out;

$scrollbar-width: 5px;
$scrollbar-radius: 0px;
$scrollbar-thumb-color: rgb(225, 225, 225);

