@import 'styles/settings';

.BookingDetail {
  height: calc(100vh - $modal-header-height - $app-gap);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.BookingDetailContainer {
  padding: 0 $app-gap;
}

.Row {
  margin: $app-gap 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-family: $font-family-regular;
    font-weight: $font-bold;
    margin: 0;    
    padding: 0;
  }
  span {
    font-family: $font-family-thin;
  }
}

div[class="btn-group-vertical"] {
  margin-top: auto;
}