@import 'settings';

$label-font-size: 11px;
$item-gap: 5px;
$icon-font-size: 1.5rem;

.navItem {
  flex-basis: calc(100% / 5);
  line-height: 1;
  display: flex;
  row-gap: $item-gap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: $item-gap;
  &:hover {
    .navItemIcon, .navItemLabel {
      transition: $simple-transition;
      color: $yellow-500;
    }
  }

  &[aria-current="page"] {
    .navItemIcon, .navItemLabel {
      transition: $simple-transition;
      color: $yellow-500;
    }
  }

  .navItemIcon {
    font-size: $icon-font-size;
    flex-shrink: 0;
  }

  .navItemLabel {
    font-size: $label-font-size;
    flex-shrink: 0;
    white-space: nowrap;
    color: $black-500;
    user-select: none;
  }
}