@import 'styles/settings';

$label-font-size: clamp(12px, 1.5vw, 13px);
$item-gap: 5px;
$icon-font-size: 1.5rem;

.navItem {
  display: flex;
  flex-basis: calc(100% / 5);
  flex-direction: column;
  justify-content: center;

  align-items: center;
  row-gap: $item-gap;
  padding: $item-gap;

  line-height: 1;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    .navItemIcon,
    .navItemLabel {
      color: $yellow-500;
      transition: $simple-transition;
    }
  }

  &[aria-current='page'] {
    .navItemIcon,
    .navItemLabel {
      transition: $simple-transition;
      color: $yellow-500;
    }
  }

  .navItemIcon {
    font-size: $icon-font-size;
    flex-shrink: 0;
    color: #86858b;
  }

  .navItemLabel {
    font-size: $label-font-size;
    flex-shrink: 0;
    white-space: nowrap;
    color: #86858b;

    user-select: none;
  }
}
